# Node.js
node_modules/

# VS Code
.vscode/

# Screenshots
screenshots/
screenshots*

# Logs
*.log

# OS
config/rows.json
.DS_Store
Thumbs.db

# Env
.env

# Build
/dist/
/build/

# Misc
*.tmp
*.swp

#Files
handle_rows.js
